<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
    .text-black{
      color: black;
    }
    .text-red{
      color: red;
    }

    .text-green{
      color: green;
    }

    .text-blue{
      color: blue;
    }
  </style>

</head>
<body>

  <div id="app">

    <p>{{ `${greeting} ${name}` }}</p>

    <button
    v-on:click="decrementar">-</button>

    <span style="margin-inline: 5px;"> {{ counter }} </span>

    <button
    v-on:click="incrementar">+</button><br><br>

    <form action="" v-on:submit.prevent="addCountry">

      <label for="">Pais</label>
      <input type="text"
      v-model="nameV">
      <br>
      <label for="">Capital</label>
      <input type="text"
      v-model="capitalV"><br>

      <button type="submit">Agregar</button>

    </form>

    <ul>
      <template v-for="(pais, key) in country" :key="key">
        <li>
          {{ key }} - {{ pais.name }} - {{ pais.capital }}
        </li>
      </template>
    </ul>

    <h1 v-if="active">CodersFree es una buena plataforma educativa</h1>
    <h1 v-else>Oh no!</h1>

    <div v-if="type === 'A'">A</div>
    <div v-else-if="type === 'B'">B</div>
    <div v-else-if="type === 'C'">C</div>
    <div v-else>No es ni A, B ni C</div>

    <p v-if="true">1. Lorem ipsum dolor sit amet, consectetur adipisicing elit. At iste eos possimus veniam, esse necessitatibus! Impedit quis numquam perferendis! Itaque quas odit libero possimus tempora fugit maiores! Eos, obcaecati earum.</p>

    <p v-show="false">2. Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam doloribus neque itaque recusandae dicta explicabo vitae eveniet nam? Impedit natus omnis vitae qui in dolores tenetur suscipit labore sequi sapiente.</p>

    <button @click="color = 'red' ">Rojo</button>
    <button @click="color = 'green' ">Verde</button>
    <button @click="color = 'blue' ">Azul</button>

    <p v-bind:class=" `text-${color}` ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, tempora accusantium vel quibusdam nesciunt similique explicabo voluptates, perspiciatis praesentium beatae tempore aliquam, officiis libero eaque. Qui possimus dignissimos sint aliquid?</p>

    <button @click="active = !active">
      <span v-if="active">Desactivar</span>
      <span v-else>Activar</span>
    </button>

    <p :class="colorClassComputed">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium magni aspernatur vero fugiat iure dignissimos! Sunt similique impedit repellendus quos labore ipsam deserunt, perferendis, rem, magnam veniam illum unde necessitatibus?</p>

  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <script>

    Vue.createApp({
      data() {
        return {
          //message: 'Hello Vue.js!',
          counter: 0,
          greeting: 'Hola desde Vue',
          name: 'Juan',
          nameV: '',
          capitalV: '',
          country: [
            {
              name: 'Colombia',
              capital: 'Bogotá'
            },
            {
              name: 'Perú',
              capital: 'Lima'
            },
            {
              name: 'Ecuador',
              capital: 'Quito'
            }
          ],
          active: false,
          type: 'D',
          color: 'black',
        }
      },
      // mounted() {
      //   setInterval(() => {
      //     this.counter++
      //   }, 1000)
      // },
      methods: {
        incrementar() {
          this.counter++
        },
        decrementar() {
          this.counter--
        },
        addCountry() {
          this.country.push({
            name: this.nameV,
            capital: this.capitalV
          });
          this.nameV = '';
          this.capitalV = '';
        }
      },
      computed: {
        colorClassComputed() {
          return this.active ? 'text-blue' : 'text-red';
        }
      }
    }).mount('#app');

  </script>

</body>

</html>